.home__container {
  @include flex(column, space-between, flex-start);
  gap: 24px;
  max-width: 450px;

  position: absolute;
  bottom: 131px;
  left: 165px;
}

.home__container-subtitle {
  font-family: $font-barlow;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;

  color: $light-blue;
}

.home__container-title {
  font-size: 150px;
  line-height: 172px;
  text-transform: uppercase;
}

.home__container-text {
  font-family: $font-barlow;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 1.2px;
  color: $light-blue;
}

.home__button {
  width: 274px;
  height: 274px;
  border: none;
  outline: none;
  border-radius: 50%;
  background: $white;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 165px;
  bottom: 131px;

  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark;

  &::after {
    content: '';
    display: block;
    width: 450px;
    height: 450px;
    z-index: -1;

    border: 88px solid $white;
    border-radius: 450px;
    opacity: 0;
    transition: 300ms ease-in-out all;

    position: absolute;
  }

  &:hover {
    &::after {
      opacity: 0.1;
      animation: pulsate-bck 3s ease-in-out infinite both;
    }
  }
}
