.home {
  background-image: url('../assets/home/background-home-desktop.jpg');
  @include tabletScreenSize {
    background-image: url('../assets/home/background-home-tablet.jpg');
  }
  @include mobileScreenSize {
    background-image: url('../assets/home/background-home-mobile.jpg');
  }
}

.home__container {
  @include flex(column, space-between, flex-start);
  gap: 24px;
  max-width: 450px;

  position: absolute;
  bottom: 131px;
  left: 165px;

  @include tabletScreenSize {
    position: relative;
    margin: 202px auto 0;
    bottom: 0;
    left: 0;
  }
}

.home__container-subtitle {
  font-family: $font-barlow;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: $light-blue;

  @include tabletScreenSize {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 3.375px;
    width: 100%;
  }

  @include mobileScreenSize {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }
}

.home__container-title {
  font-size: 150px;
  line-height: 172px;
  font-weight: 100;
  text-transform: uppercase;

  @include tabletScreenSize {
    line-height: 150px;
  }

  @include mobileScreenSize {
    font-size: 80px;
    line-height: 100px;
    text-align: center;
    width: 100%;
  }
}

.home__container-text {
  font-family: $font-barlow;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 1.2px;
  color: $light-blue;

  @include tabletScreenSize {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1.5px;
  }

  @include mobileScreenSize {
    font-size: 15px;
    line-height: 25px;
    width: 80%;
    margin: 0 auto;
  }
}

.home__button {
  width: 274px;
  height: 274px;
  border: none;
  outline: none;
  border-radius: 50%;
  background: $white;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 165px;
  bottom: 131px;

  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark;

  @include laptopScreenSize {
    right: 100px;
  }

  @include tabletScreenSize {
    width: 242px;
    height: 242px;
    position: static;
    margin: 156px auto 90px;
  }

  @include mobileScreenSize {
    width: 150px;
    height: 150px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.25px;
  }

  //::after used for outer circle animation
  &::after {
    content: '';
    display: block;
    width: 450px;
    height: 450px;
    z-index: -1;

    border: 88px solid $white;
    border-radius: 450px;
    opacity: 0;
    transition: 300ms ease-in-out all;

    position: absolute;

    @include tabletScreenSize {
      display: none;
    }
  }

  &:hover {
    &::after {
      opacity: 0.1;
      animation: pulsate-bck 3s ease-in-out infinite both;
    }
  }
}
